$theme-1: (
	backgrounds: (
		main: hsl(222, 26%, 31%),
		keypad: hsl(223, 31%, 20%),
		screen: hsl(224, 36%, 15%),
	),
	keys: (
		background: hsl(30, 25%, 89%),
		shadow: hsl(28, 16%, 65%),
		background-cta: hsl(6, 63%, 50%),
		shadow-cta: hsl(6, 70%, 34%),
		background-special: hsl(225, 21%, 49%),
		shadow-special: hsl(224, 28%, 35%),
	),
	text: (
		main: hsl(221, 14%, 31%),
		secondary: white,
	),
);

$theme-2: (
	backgrounds: (
		main: hsl(0, 0%, 90%),
		keypad: hsl(0, 5%, 81%),
		screen: hsl(0, 0%, 93%),
	),
	keys: (
		background: hsl(185, 42%, 37%),
		shadow: hsl(185, 58%, 25%),
		background-cta: hsl(25, 98%, 40%),
		shadow-cta: hsl(25, 99%, 27%),
		background-special: hsl(45, 7%, 89%),
		shadow-special: hsl(35, 11%, 61%),
	),
	text: (
		main: hsl(60, 10%, 19%),
		secondary: white,
	),
);

$theme-3: (
	backgrounds: (
		main: hsl(268, 75%, 9%),
		keypad: hsl(268, 71%, 12%),
		screen: hsl(268, 71%, 12%),
	),
	keys: (
		background: hsl(281, 89%, 26%),
		shadow: hsl(285, 91%, 52%),
		background-cta: hsl(176, 100%, 44%),
		shadow-cta: hsl(177, 92%, 70%),
		background-special: hsl(268, 47%, 21%),
		shadow-special: hsl(290, 70%, 36%),
	),
	text: (
		main: hsl(52, 100%, 62%),
		secondary: white,
	),
);

@function map-deep-get($map, $keys...) {
	@each $key in $keys {
		$map: map-get($map, $key);
	}
	@return $map;
}
