@import "_variables.scss";

@mixin keys-special {
	font-size: 50%;
	color: white;
}
@mixin keys-blue {
	background-color: map-deep-get($colors, "keys", "background-special");
	box-shadow: 0px 4px 0px 0px map-deep-get($colors, "keys", "shadow-special");
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container {
	font-family: "Spartan", sans-serif;
	font-size: 2rem;
	width: 375px;
	height: 750px;
	margin: 50px auto;
	background-color: map-deep-get($colors, "backgrounds", "main");
}

.display-panel {
	height: 100px;
	width: 85%;
	border-radius: 10px;
	margin: 2rem auto;
	padding-right: 24px;
	background-color: map-deep-get($colors, "backgrounds", "screen");
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.display-panel__number {
	color: map-deep-get($colors, text, secondary);
}

.keys-panel {
	display: grid;
	grid: {
		template-columns: 1fr 1fr 1fr 1fr;
		gap: 1rem;
	}
	background-color: map-deep-get($colors, "backgrounds", "keypad");
	border-radius: 10px;
	height: 500px;
	width: 85%;
	margin: 2rem auto;
	padding: 1.5rem 1rem;

	&__key {
		height: 60px;
		padding-top: 8px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 5px;
		color: map-deep-get($colors, "text", "main");
		background-color: map-deep-get($colors, "keys", "background");
		box-shadow: 0px 4px 0px 0px map-deep-get($colors, "keys", shadow);

		&--del {
			@include keys-special;
			@include keys-blue;
		}

		&--cta {
			@include keys-special;
			background-color: map-deep-get($colors, "keys", "background-cta");
			box-shadow: 0px 4px 0px 0px
				map-deep-get($colors, "keys", shadow-cta);
			grid-column: 3 / 5;
		}

		&--reset {
			@include keys-special;
			@include keys-blue;
			grid-column: 1 / 3;
		}
	}
}
